/*---real--*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    background-color: #fff;
    color: #000000;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}




/*----------------------------------------- Buttons ------------------------------------------------------*/

.button {
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 15px;
    width: 94%;
    max-width: 400px;
    margin: 10px auto;
    background-color: rgba(240, 248, 255, 0);
    height: 38px;
    padding-left: 15px;
    border-radius: 5px;
}

.button:hover {
    background-color: #fff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 2px 2px 2px #3c3c3c;
    transition: background-color 0.2s,
        color 0.2s, box-shadow 0.2s;
}




/*====================================== Nav Bar ==================================================*/

.nav-bar {
    background-color: rgba(131, 131, 131, 0.46);
    z-index: 1000;
    position: fixed;
    color: #000000;
    width: 100%;
    padding: 5px 20px;
    box-shadow: 0px 5px 5px 0px rgb(78, 78, 78);
}



.nav-bar a:link,
.nav-bar a:visited {
    color: #cc181e;
    text-decoration: none;
}

#nav-search-button,
#nav-mylist-button,
#nav-logout-button {
    display: inline-block;
    background-color: aliceblue;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 15px;
    background-color: rgba(240, 248, 255, 0);
    text-rendering: optimizeLegibility;
    color: rgb(255, 255, 255);
    padding: 7px 15px;
    border-radius: 5px;
}


#nav-search-button:hover,
#nav-mylist-button:hover,
#nav-logout-button:hover {
    background-color: #fff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.2s,
        color 0.2s;
}


#nav-mylist-button,
#nav-logout-button {
    float: right;
    margin-right: 15px;
}

#nav-logout-icon {
    display: none;
}









/*========================= Sign up & Log in ===============================*/

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}



.login-page,
.signup-page {
    position: relative;
    text-align: center;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    position: relative;
    color: #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../img/road-1303617_1920.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: initial;
}

.title {
    font-size: 50px;
    margin-bottom: 10px;
}

.or {
    margin: 5px;
}


#name-input,
#email-input,
#password-input,
#login-email-input,
#login-password-input,
#search-input {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 15px;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    background-color: #fff;
    height: 38px;
    padding-left: 15px;
    border-radius: 5px;
}


#login-form {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.signup-form {
    position: absolute;
    top: 43.15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}


.signup-button,
.login-button {
    margin-top: 20px;
}

#login-form p {
    color: #b2b2b2;
}

.demo-account {
    margin: 20px 0 5px 0;
}












/*--------------------------------Search Page----------------------------------------------*/

.search-page {
    text-align: center;
    padding-top: 110px;
    height: 100vh;
    width: 100%;
    position: relative;
    color: #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../img/road-220058_1280.jpg) no-repeat center center fixed;
    /*    background-color: #f8f8f8;*/
    background-size: cover;
    background-attachment: initial;
}




.search-page h2 {
    font-size: 50px;
    margin-bottom: 30px;
}


.search-form {
    display: inline-block;
    width: 50%;
    min-width: 600px;
    padding: 30px 70px 50px 70px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.search-button {
    background-color: rgba(152, 152, 152, 0.48);
}









/*---------------------- About This App & Footer ---------------------------------------------*/
/*
.about-this-app {
    max-width: 2000px;
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
}
.description {
        display: block;
    max-width: 650px;
    margin: 0 auto 50px auto;
    font-size: 23px;
    line-height: 1.5;
}
.about {
    margin-top: 30px;
}
.about-this-app i {
    font-size: 50px;
    margin-bottom: 30px;
}
.fa-youtube-square {
    color: #cc181e;
}
*/


footer {
    background-color: #585858;
    height: 140px;
    color: #ebebeb;
    font-size: 11px;
    padding-top: 40px;
    text-align: center;
}



footer ion-icon {
    display: inline-flex;
}

.social-links {
    list-style: none;
}

.social-links li {
    display: inline-block;
    margin-left: 10px;
}


.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #717171;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-email:hover {
    color: #dd4b39;
}


/*------------------------------------ Result Page ----------------------------------------------*/

.foursquare-search-result {
    padding-top: 40px;
/*    background-color: #30336b;*/
}

.foursquare-search-result h2 {
    margin-top: 110px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

#search-results li {
    list-style: none;
	padding: 0 30px;
}

#search-results ul {
    text-align: center;
}


.result-venue-name {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.detailButton {
    margin: 20px auto 25px auto;
    color: #adadad;
}

.inner-search-result {
    text-align: center;
    border: 1px #e2e2e2 solid;
    background-color: #fafafa;
    padding-top: 30px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 0px rgba(128, 128, 128, 1);
}

#result_gmap_canvas {
    width: 76%;
    height: 240px;
    border-radius: 10px;
}


.result-category {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.result-address {
	font-size: 15px;
    height: 40px;
}

.sorry-message {
    font-size: 23px;
	padding-top: 100px;
    height: 85vh;
}




/*======================== Detail Add & Edit Section ===============================*/

.more-info-section {
	padding: 0 100px;
	min-height: 100vh;
}

.detail-info {
    padding-top: 135px;
/*    margin-bottom: 100px;*/
    width: 100%;
}

#venue-name {
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
}

.add-results {
    position: absolute;
    width: 100%;
    padding: 50px 0;
    background-color: #f7f7f7;
}

.add-results .row {
    max-width: 1800px;

}

.what-place {
    font-weight: 600;
}

#gmap_canvas {
    width: 97%;
    height: 340px;
    border-radius: 10px;
}



.note-textarea {
    height: 140px;
    width: 85%;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 15px;
    box-shadow: 4px 4px 5px 0px rgba(128, 128, 128, 1);
}




.add-item-button,
.back-to-list-button,
.edit-save-button {
    display: block;
    margin: 20px auto;
    color: #a3a3a3;
}

.detail-buttons {
    margin-bottom: 100px;
}

.detail-photo-map-section img {
    width: 48%;
    height: auto;
}

.information-section {
    text-align: left;
/*    padding: 50px 40px;*/
}

.added-time,
.result-category,
.result-phone-number,
.result-website,
.result-address,
.result-description,
.result-memo,
.note-textarea {
    margin: 10px 30px 10px 30px;
/*    text-align: left;*/
}

.note-textarea {
    margin-top: 20px;
}






/*---------------------------My List----------------------------*/

.mylist-section {
	padding: 0 100px;
	min-height: 100vh;
}

.mylist-title {
    margin-top: 120px;
    text-align: center;
    font-size: 50px;
}

#mylist-venue-name {
    font-size: 30px;
    text-align: center;
    margin-bottom: 80px;
}

.mylist-main h1 {
    margin-bottom: 20px;
}

.mylist-results {
    height: auto;
    padding: 30px 0;
    text-align: center;
}


.mylist-results li {
    list-style: none;
}



.mylistRow {
    max-width: 1800px;
}


.memo-display {
    font-weight: 600;
}

.divideLine {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 600px;
    border-top: 2px solid #8e8e8e;
    display: inline-block;
}

.edit-button,
.delete-button {
    display: block;
    margin: 20px auto;
    color: #a3a3a3;
}

.mylist-buttons {
    margin-top: 15px;
    margin-bottom: 40px;
}








/*=========================Media Query==========================*/

@media only screen and (max-width: 950px) {
    
    ion-icon {
        display: inline-block;
        vertical-align: middle;
    }

    /*
    .icon-inner {
    display: inline-block;
}
    */
	.inner-search-result{
		max-width: 650px;
	}
	
    .detail-info {
     	height: 100%;
    }

    .detail-info {
     	margin-bottom: 0;
    }

    .mylist-buttons {
     	margin-bottom: 0;
	}

    .search-form {
        min-width: 0;
        width: 80%;
        padding: 10px 30px 20px 30px;
    }

    .main-nav li {
        margin-right: 5px;
    }

    .button {
        padding: 5px 3px;
    }


    #nav-logout-button1,
    #nav-logout-button2,
    #nav-logout-button3 {
        display: none;
    }
	
/*
	#result_gmap_canvas {
		max-width: 400px;
	}
*/



}

@media only screen and (max-width: 620px) {

    .title,
    .search-page h2 {
        font-size: 40px;
        margin-bottom: 0;
    }

    .row {
		padding-left: 25px;
		padding-right: 25px;
		margin: 0 auto;
		max-width: 1500px;
    }

    .foursquare-search-result h2 {
        margin-top: 65px;
        text-align: center;
        font-size: 36px;
        margin-bottom: 0px;
    }

    .mylist-title {
        margin-top: 100px;
        text-align: center;
        font-size: 40px;
    }

    #mylist-venue-name {
        font-size: 26px;
        text-align: center;
        margin-bottom: 32px;
    }

    .mylist-results {
        padding: 0;
    }

    .divideLine {
        width: 250px;
    }

    #venue-name {
        font-size: 45px;
        margin-bottom: 40px;
    }

    .result-venue-name {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 6px;
    }

    .detailButton {
        width: 80%;
    }

    #result_gmap_canvas {
        height: 190px;
        width: 85%;
    }

    .foursquare-search-result h2 {
        margin-top: 65px;
        text-align: center;
        font-size: 55px;
        margin-bottom: 0px;
    }

    #search-input {
        min-width: 0;
        width: 94%;
    }
    .search-form {
        min-width: 0;
        width: 100%;
    }
	
	.inner-search-result{
		margin: 25px auto;
	}
	
	.more-info-section,
	.mylist-section {
     	padding: 0; 
	}

}


@media only screen and (max-width: 450px) {

    .row {
        padding-left: 10px;
        padding-right: 10px;
    }
	
	#search-results li {
		padding: 0;
	}

    #venue-name {
        font-size: 30px;
    }

    .detail-buttons {
        margin-bottom: 40px;
    }

    #login-form,
    .signup-form {
        width: 250px;
    }
}


